<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="socket.io/socket.io.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.js"></script>
		<title>Trang chu chat</title>
		<script type="text/javascript">
			$(document).ready(function(){
				
					
				
			});

		</script>
	</head>

	<body>
		<div class="container">
		<label>Vui lòng nhập tên</label>
		<input type="text" class="form-control" name="">
		<br>
		<button class="btn btn-success">Vào phòng</button>
		<div>
	</body>
</html>